<p id="notice"><%= notice %></p>

<div id="locations" class="col-sm-6">
  <h1>Locations</h1>
    <div id="all_locations" class="col-sm-6">
      <table>
        <thead>
          <tr>
            <th></th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @chats.each do |chat| %>
          <tr>
            <td><%= chat.name %></td>
            <td><%= link_to "Join", chat_groups_path(chat), class: "btn btn-success btn-xs", method: :post %></td>
            <td><%= link_to 'Edit', edit_chat_path(chat), class: "btn btn-warning btn-xs" %></td>
            <td><%= link_to "Leave", chat_groups_path(chat), class: "btn btn-danger btn-xs", method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <%= link_to "Create a location", new_chat_path, class: "btn btn-primary btn-xs" %></td>
  </div>
</div>

