<!DOCTYPE html>
<html>
  <head>
    <title>Rails Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to home_index_path, class: "navbar-brand" do %>
            SuperChat
          <% end %>
          
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <%= yield :right_nav %>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>Settings</li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Log out', log_out_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'Sign up', sign_up_path %></li>
              <li><%= link_to 'Log in', log_in_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="fluid-container" style="margin-top: 70px">
      <div class="row">
        <div id="rooms" class="col-sm-2">
          <% if current_user %>
            <h3>Your locations</h3>
            <ul>
              <% current_user.chats.each do |chat| %>
                <li><%= link_to chat.name, chat, data: {behavior: "chat-link", chat_id: chat.id} %></li>
              <% end %>
                <br>
                <li><%= link_to "show all locations", chats_path %></li>
            </ul>

        </div>

        <div id="users" class="col-sm-2">
            <h3>Users</h3>
            <table>
              <tr>
                <th></th>
                <th></th>
              </tr>
              <% (User.all - [current_user]).each do |user| %>
              <tr>
                <td><%= link_to user.username, user, data: {behavior: "user-link", user_id: user.id}%></td>
                <td><%= link_to "Message", new_private_message_path(receiver_id: user), class: "btn btn-success btn-xs start-conversation" %></td>
                <% end %>  
              </tr>          
            </table>
            <br>

            <p><%= link_to "show all users", users_path %></p>
          <% end %>
        </div>

        <div id="activity" class="col-sm-6 col-sm-offset-3">
          <%= yield %>
        </div>



      </div>
    </div>
  </body>
</html>


